<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title> Game </title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="vue.js"></script>
        <script defer="" src="main.js"></script></script>
        <!-- <script src="vue.js"></script> -->
    </head>

    <body>
        <div id="begin">
            

            <div id="stats">
                <li v-for="stat in stats"> {{ stat.stat_name }} : {{ stat.value }} </li>
            </div>

            <button id="botton" v-on:click="study">
                study
            </button>
            <button id="botton" v-on:click="next_day">
                next_day
            </button>

            <div class="bank">
                <img src="childe.png" alt="Bank" width="100px" height="150px"  v-on:click="intro_bank">
                <button v-if="bank_demarche" v-on:click="chk_bank">
                    demarche
                </button>
            </div>

            <div class="backpack">
                <p v-on:click="passport=add_object(passport)">passport: {{ passport }}, </p>
                <p v-on:click="a_naissance=add_object(a_naissance)">acte de naissance: {{ a_naissance }}, </p> 
                <p v-on:click="attes_logement =add_object(attes_logement)">attestation de logement: {{ attes_logement }}, </p> 
                <p v-on:click="attes_etudiant=add_object(attes_etudiant)">attestation d'etudiant: {{ attes_etudiant }} </p>
            </div>
            

            <div class="dialog">
                {{ message }}
            </div>

        </div>
    </body>
</html>